* {
    margin: 0;
    padding: 0;
}

    
body {
    color: #000;
    background-color: white;
    background-image: url(./img/Fundo.png);
    
}

main {
    padding: 0px 10vw;

}

header{
    
    width: 100%;
    min-height: 40px;
    background-color: #FF6A3C; 
}

header>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

a {
    color: #000;
    text-decoration: none;
}

#LogoImg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}


.menu{  
      
    font-size: 42px;
    font-family:Open Sans;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.menu a{
    display: inline-block;
    text-decoration: none;
    padding: 15px;
}
.menu a:hover {
    background-color: white;
    border-radius: 50px;
}

.nav-button {
    font-size: 42px;
    font-family:Open Sans;
    font-style: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

}

#loginBtn {
   
    font-family:Open Sans;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    width: 100px !important;
    
    
}
  
#loginBtn:hover {
    background-color: #b6b6b6;
}

#registerBtn {
   
    font-family:Open Sans;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    width: 120px !important;
   
}
  

#registerBtn:hover {
    background-color: #b6b6b6;
}


.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  input[type=text]{
    position: relative;
    padding: 12px 50px 20px 30px;
    width: 0px;
    color: #525252;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to right, #FFFFFF 0%,#464747 #F9F9F9 100%);
    transition: width 0.4s ease;
    outline: none;
    &:focus{ width: 300px; }
}
  
.Filter a{
    font-size: 42px;
    font-family: Open Sans;
    font-style: normal;
    color: white;
    display: flex;
    justify-content: center;
    display: flex;
    margin-top: 37%;
}


#Cards .card {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 130px;
    height: 130px;
    background-color:;
    padding: 20px;
    gap: 20px;
}

#Cardss .card-img {
    width: 20px;
    height: 20px;
    text-align: left;
    
}

#Cards .card-description {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-end;
}
